# Modulo 3: Ejercicio 4
## Alumno: Jose Suarez

### 1. Continuaremos trabajando con nuestros datos de supermercado. Para esto cargaremos los 4 archivos (clientes, boletas, detalle y productos) y responderemos las siguientes preguntas:
    a. Generar un dataframe con cada archivo.
    b. Cuantos datos tiene cada dataframe?
    c. Cuantos clientes no tienen email?
    d. Genera un filtro para saber a qué clientes les falta un dato (cualquiera).
    e. A cuantos clientes les faltan datos?
    f. Agregar una nueva columna a todos los clientes, que indique si le falta algún dato o no (con un mapeo).
    g. A todos los clientes que les falten datos, deben rellenarse con un S/I, excepto la fecha de nacimiento.
    h. Busque en los productos si existe algún outlier.

In [1]:
import pandas as pd
import numpy as np

delimitador = "\n" + "-" * 60 + "\n"

# A) Generar dataframes de los archivos
clientes = pd.read_csv("clientes.csv", encoding='latin-1')
productos = pd.read_csv("productos.csv", encoding='latin-1')
boletas = pd.read_csv("boletas.csv", encoding='latin-1')
detalle = pd.read_csv("detalle.csv", encoding='latin-1')

print(type(clientes), end= delimitador)
print(type(productos), end= delimitador)
print(type(boletas), end= delimitador)
print(type(detalle), end= delimitador)

<class 'pandas.core.frame.DataFrame'>
------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
------------------------------------------------------------

In [2]:
print("b) Cuantos datos tiene cada dataframe")

print("clientes tiene", clientes.size, "datos, distribuidos: ")
print(clientes.count(), end= delimitador)

print("productos tiene", productos.size, "datos, distribuidos: ")
print(productos.count(), end= delimitador)

print("boletas tiene", boletas.size, "datos, distribuidos: ")
print(boletas.count(), end= delimitador)

print("detalle tiene", detalle.size, "datos, distribuidos: ")
print(detalle.count(), end= delimitador)

b) Cuantos datos tiene cada dataframe
clientes tiene 140 datos, distribuidos:
rut                 20
nombre              20
direccion           13
comuna              12
fecha_nacimiento    16
telefono            14
email               16
dtype: int64
------------------------------------------------------------
productos tiene 60 datos, distribuidos:
codigo    20
nombre    20
precio    20
dtype: int64
------------------------------------------------------------
boletas tiene 72 datos, distribuidos:
numero         24
fecha          24
rut_cliente    24
dtype: int64
------------------------------------------------------------
detalle tiene 120 datos, distribuidos:
numero_boleta      40
codigo_producto    40
cantidad           40
dtype: int64
------------------------------------------------------------

In [3]:
print("c) Cuantos clientes no tienen email?")
print("Los clientes sin email son", clientes["email"].isna().sum())

c) Cuantos clientes no tienen email?
Los clientes sin email son 4

In [4]:
print("d) a los clientes que le faltan datos son: ")
print(clientes[clientes.isna().any(axis=1)][["nombre","rut"]].reset_index(drop=True))

d) a los clientes que le faltan datos son:
               nombre         rut
0       Tomás Ramírez  11223344-4
1     Pedro Rodríguez  23456789-1
2       Camila Torres  33445566-5
3          Mateo Diaz  33445566-7
4      Carla González  34567890-2
5      Diego Martínez  45678901-3
6       Matias Castro  55667788-6
7   Valentina Herrera  55667788-9
8           Ana Lopez  56789012-4
9     Luisa Fernández  67890123-5
10       Martin Gómez  77889900-1
11      Renata Flores  77889900-7
12      Javier Torres  78901234-6
13      Marta Ramírez  89012345-7
14       Daniel Silva  90123456-8
15        Sofía Pérez  99001122-3
16       Nicolás Ruiz  99001122-8

In [5]:
print("e) el numero de clientes que le faltan datos son: ", clientes[clientes.isna().any(axis=1)]["nombre"].count())

e) el numero de clientes que le faltan datos son:  17

In [6]:
# f) con mapeo agregar columna
clientes["Faltan Datos"] = clientes.isna().any(axis=1).map(lambda bol: "si" if bol else "no")
print(clientes)

           rut             nombre                direccion        comuna  \
0   11223344-4      Tomás Ramírez                      NaN         Arica
1   11223344-5        Laura Rojas        Calle Virtual 567   Antofagasta
2   12345678-9         Juan Perez          Calle Falsa 123      Santiago
3   23456789-1    Pedro Rodríguez                      NaN    Valparaíso
4   33445566-5      Camila Torres    Calle Cibernética 456           NaN
5   33445566-7         Mateo Diaz                      NaN  Viña del Mar
6   34567890-2     Carla González      Calle Inventada 789           NaN
7   45678901-3     Diego Martínez       Avenida Irreal 987     La Serena
8   55667788-6      Matias Castro   Avenida Innovación 321           NaN
9   55667788-9  Valentina Herrera  Avenida Tecnológica 123           NaN
10  56789012-4          Ana Lopez                      NaN           NaN
11  67890123-5    Luisa Fernández       Calle Ficticia 321      Rancagua
12  77889900-1       Martin Gómez                      NaN       Iquique
13  77889900-7      Renata Flores                      NaN       Copiapó
14  78901234-6      Javier Torres   Avenida de Ensueño 654        Temuco
15  87654321-0      Maria Sánchez   Avenida Imaginaria 456    Concepción
16  89012345-7      Marta Ramírez         Calle Soñada 210           NaN
17  90123456-8       Daniel Silva                      NaN  Puerto Montt
18  99001122-3        Sofía Pérez        Calle Digital 789           NaN
19  99001122-8       Nicolás Ruiz   Calle Programación 210           NaN

   fecha_nacimiento     telefono                  email Faltan Datos
0        1994-12-31          NaN      tomas@example.com           si
1        1998-07-12  945678321.0      laura@example.com           no
2        2000-05-15  912345678.0       juan@example.com           no
3        1988-03-10  912345678.0      pedro@example.com           si
4        1993-02-14  977894512.0     camila@example.com           si
5        2002-02-28  967894512.0      mateo@example.com           si
6        1999-12-05  934567890.0      carla@example.com           si
7               NaN          NaN      diego@example.com           si
8        1992-06-08  923478965.0                    NaN           si
9        1997-04-05  923478965.0  valentina@example.com           si
10       1990-08-18  978901234.0        ana@example.com           si
11       2005-04-25          NaN      luisa@example.com           si
12       1996-10-17  955678902.0     martin@example.com           si
13              NaN          NaN     renata@example.com           si
14       1985-11-30  923456789.0                    NaN           si
15       1995-10-20  987654321.0      maria@example.com           no
16              NaN          NaN                    NaN           si
17              NaN          NaN                    NaN           si
18       2001-09-22  912345672.0      sofia@example.com           si
19       2003-11-03  955678902.0    nicolas@example.com           si

In [7]:
# g) cambiar NAN con S/I en todas las columnas excepto fecha
rellenos = {"rut": "S/I",
            "nombre": "S/I",
            "direccion": "S/I",
            "comuna": "S/I",
            "fecha_nacimiento": np.nan,
            "telefono": "S/I",
            "email": "S/I"
           }
clientes.fillna(rellenos, inplace= True)
print(clientes)

           rut             nombre                direccion        comuna  \
0   11223344-4      Tomás Ramírez                      S/I         Arica
1   11223344-5        Laura Rojas        Calle Virtual 567   Antofagasta
2   12345678-9         Juan Perez          Calle Falsa 123      Santiago
3   23456789-1    Pedro Rodríguez                      S/I    Valparaíso
4   33445566-5      Camila Torres    Calle Cibernética 456           S/I
5   33445566-7         Mateo Diaz                      S/I  Viña del Mar
6   34567890-2     Carla González      Calle Inventada 789           S/I
7   45678901-3     Diego Martínez       Avenida Irreal 987     La Serena
8   55667788-6      Matias Castro   Avenida Innovación 321           S/I
9   55667788-9  Valentina Herrera  Avenida Tecnológica 123           S/I
10  56789012-4          Ana Lopez                      S/I           S/I
11  67890123-5    Luisa Fernández       Calle Ficticia 321      Rancagua
12  77889900-1       Martin Gómez                      S/I       Iquique
13  77889900-7      Renata Flores                      S/I       Copiapó
14  78901234-6      Javier Torres   Avenida de Ensueño 654        Temuco
15  87654321-0      Maria Sánchez   Avenida Imaginaria 456    Concepción
16  89012345-7      Marta Ramírez         Calle Soñada 210           S/I
17  90123456-8       Daniel Silva                      S/I  Puerto Montt
18  99001122-3        Sofía Pérez        Calle Digital 789           S/I
19  99001122-8       Nicolás Ruiz   Calle Programación 210           S/I

   fecha_nacimiento     telefono                  email Faltan Datos
0        1994-12-31          S/I      tomas@example.com           si
1        1998-07-12  945678321.0      laura@example.com           no
2        2000-05-15  912345678.0       juan@example.com           no
3        1988-03-10  912345678.0      pedro@example.com           si
4        1993-02-14  977894512.0     camila@example.com           si
5        2002-02-28  967894512.0      mateo@example.com           si
6        1999-12-05  934567890.0      carla@example.com           si
7               NaN          S/I      diego@example.com           si
8        1992-06-08  923478965.0                    S/I           si
9        1997-04-05  923478965.0  valentina@example.com           si
10       1990-08-18  978901234.0        ana@example.com           si
11       2005-04-25          S/I      luisa@example.com           si
12       1996-10-17  955678902.0     martin@example.com           si
13              NaN          S/I     renata@example.com           si
14       1985-11-30  923456789.0                    S/I           si
15       1995-10-20  987654321.0      maria@example.com           no
16              NaN          S/I                    S/I           si
17              NaN          S/I                    S/I           si
18       2001-09-22  912345672.0      sofia@example.com           si
19       2003-11-03  955678902.0    nicolas@example.com           si

In [8]:
print("h) los valores outlier segun el precio estan en la siguiente tabla:")

Q1 = productos['precio'].quantile(0.25)
Q3 = productos['precio'].quantile(0.75)
Q2 = productos['precio'].quantile(0.5)
IQR = Q3 - Q1
filtro = (productos['precio'] >= Q1 - 1.5 * IQR) & (productos['precio'] <= Q3 + 1.5 * IQR)

print(productos[-filtro])

h) los valores outlier segun el precio estan en la siguiente tabla:
   codigo            nombre  precio
2     103  Aceite de cocina   18000

### 2. El archivo “M3E4 - titanic.csv” contiene información sobre los pasajeros del Titanic. Escribir un programa con los siguientes requisitos:
    a. Generar un DataFrame con los datos del fichero.
    b. Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 últimas filas.
    c. Mostrar por pantalla los datos del pasajero con identificador 148.
    d. Mostrar por pantalla las filas pares del DataFrame.
    e. Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfabéticamente.
    f. Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.
    g. Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.
    h. Eliminar del DataFrame los pasajeros con edad desconocida.
    i. Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.
    j. Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.
    k. Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.

In [3]:
import pandas as pd
import numpy as np

delimitador = "\n" + "-" * 60 + "\n"

# A) Generar dataframe del archivo
titanic = pd.read_csv("M3E4 - Titanic.csv", encoding='latin-1')

print("a)\n", type(titanic))

a)
 <class 'pandas.core.frame.DataFrame'>

In [10]:
# b)
print("b) \ntitanic tiene", titanic.size, "datos, distribuidos: ")
print(titanic.count(), end= delimitador)

print("las filas de datos son: ")
print(titanic.index)

print("los tipos de datos son: ")
print(titanic.dtypes, end= delimitador)

print("los primeros 10 datos son: ")
print(titanic.head(10), end= delimitador)

print("los ultimos 10 datos son: ")
print(titanic.tail(10), end= delimitador)

b)
titanic tiene 10692 datos, distribuidos:
PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64
------------------------------------------------------------
las filas de datos son:
RangeIndex(start=0, stop=891, step=1)
los tipos de datos son:
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
------------------------------------------------------------
los primeros 10 datos son:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C
------------------------------------------------------------
los ultimos 10 datos son:
     PassengerId  Survived  Pclass                                      Name  \
881          882         0       3                        Markun, Mr. Johann
882          883         0       3              Dahlberg, Miss. Gerda Ulrika
883          884         0       2             Banfield, Mr. Frederick James
884          885         0       3                    Sutehall, Mr. Henry Jr
885          886         0       3      Rice, Mrs. William (Margaret Norton)
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
881    male  33.0      0      0            349257   7.8958   NaN        S
882  female  22.0      0      0              7552  10.5167   NaN        S
883    male  28.0      0      0  C.A./SOTON 34068  10.5000   NaN        S
884    male  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
885  female  39.0      0      5            382652  29.1250   NaN        Q
886    male  27.0      0      0            211536  13.0000   NaN        S
887  female  19.0      0      0            112053  30.0000   B42        S
888  female   NaN      1      2        W./C. 6607  23.4500   NaN        S
889    male  26.0      0      0            111369  30.0000  C148        C
890    male  32.0      0      0            370376   7.7500   NaN        Q
------------------------------------------------------------

In [11]:
# c)
print("c)")
print(titanic.iloc[147])

c)
PassengerId                                 148
Survived                                      0
Pclass                                        3
Name           Ford, Miss. Robina Maggie "Ruby"
Sex                                      female
Age                                         9.0
SibSp                                         2
Parch                                         2
Ticket                               W./C. 6608
Fare                                     34.375
Cabin                                       NaN
Embarked                                      S
Name: 147, dtype: object

In [12]:
#  d)
print("d)")
condicionD = titanic.index % 2 == 0

print(titanic[condicionD])

d)
     PassengerId  Survived  Pclass  \
0              1         0       3
2              3         1       3
4              5         0       3
6              7         0       1
8              9         1       3
..           ...       ...     ...
882          883         0       3
884          885         0       3
886          887         0       2
888          889         0       3
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
4                             Allen, Mr. William Henry    male  35.0      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
..                                                 ...     ...   ...    ...
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
884                             Sutehall, Mr. Henry Jr    male  25.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
2        0  STON/O2. 3101282   7.9250   NaN        S
4        0            373450   8.0500   NaN        S
6        0             17463  51.8625   E46        S
8        2            347742  11.1333   NaN        S
..     ...               ...      ...   ...      ...
882      0              7552  10.5167   NaN        S
884      0   SOTON/OQ 392076   7.0500   NaN        S
886      0            211536  13.0000   NaN        S
888      2        W./C. 6607  23.4500   NaN        S
890      0            370376   7.7500   NaN        Q

[446 rows x 12 columns]

In [13]:
# e)
print("e)")
condicionE = titanic["Pclass"] == 1
print(titanic[condicionE].sort_values(by="Name"))

e)
     PassengerId  Survived  Pclass  \
730          731         1       1
305          306         1       1
297          298         0       1
498          499         0       1
460          461         1       1
..           ...       ...     ...
155          156         0       1
351          352         0       1
55            56         1       1
555          556         0       1
325          326         1       1

                                                Name     Sex    Age  SibSp  \
730                    Allen, Miss. Elisabeth Walton  female  29.00      0
305                   Allison, Master. Hudson Trevor    male   0.92      1
297                     Allison, Miss. Helen Loraine  female   2.00      1
498  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.00      1
460                              Anderson, Mr. Harry    male  48.00      0
..                                               ...     ...    ...    ...
155                      Williams, Mr. Charles Duane    male  51.00      0
351           Williams-Lambert, Mr. Fletcher Fellows    male    NaN      0
55                                 Woolner, Mr. Hugh    male    NaN      0
555                               Wright, Mr. George    male  62.00      0
325                         Young, Miss. Marie Grice  female  36.00      0

     Parch    Ticket      Fare    Cabin Embarked
730      0     24160  211.3375       B5        S
305      2    113781  151.5500  C22 C26        S
297      2    113781  151.5500  C22 C26        S
498      2    113781  151.5500  C22 C26        S
460      0     19952   26.5500      E12        S
..     ...       ...       ...      ...      ...
155      1  PC 17597   61.3792      NaN        C
351      0    113510   35.0000     C128        S
55       0     19947   35.5000      C52        S
555      0    113807   26.5500      NaN        S
325      0  PC 17760  135.6333      C32        C

[216 rows x 12 columns]

In [12]:
# f)
porcentajevivos = titanic["Survived"].sum() / titanic["PassengerId"].count()*100

print("f) \nSobrevivieron %", '%.3f'%(porcentajevivos), "y murieron %", '%.2f'%(100 -porcentajevivos), "delos pasajeros")

f)
Sobrevivieron % 38.384 y murieron % 61.62 delos pasajeros

In [11]:
# g)
print("g)")
for clase in range(1,4):
    porcentajeVivosClase = (titanic[titanic["Pclass"] ==  clase]["Survived"].sum() / 
                            titanic[titanic["Pclass"] ==  clase]["PassengerId"].count()*100)
    print("Sobrevivieron %", '%.2f'%(porcentajeVivosClase), 
          "y murieron %", '%.2f'%(100 -porcentajeVivosClase), 
          "delos pasajeros de la clase", clase)

g)
Sobrevivieron % 62.96 y murieron % 37.04 delos pasajeros de la clase 1
Sobrevivieron % 47.28 y murieron % 52.72 delos pasajeros de la clase 2
Sobrevivieron % 24.24 y murieron % 75.76 delos pasajeros de la clase 3

In [16]:
# g)
print("g)")

print(titanic[-titanic["Age"].isna()])

g)
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
885          886         0       3
886          887         0       2
887          888         1       1
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
885      5            382652  29.1250   NaN        Q
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[714 rows x 12 columns]

In [10]:
# i)
print("i)")
for clase in range(1,4):
    condicionI = (titanic["Sex"] == "female") & (titanic["Pclass"] == clase)
    print(f"la edad media de las mujeres en °{clase} clase es % ", end="")

    print('%.2f'%(titanic[condicionI]["Age"].mean()), "años")

i)
la edad media de las mujeres en °1 clase es % 34.61 años
la edad media de las mujeres en °2 clase es % 28.72 años
la edad media de las mujeres en °3 clase es % 21.75 años

In [4]:
# j)

print("j) Suponiendo que la mayoria de edad es al cumplir 18 años, se tendria:")
titanic["Menor de edad"] = titanic["Age"] < 18
print(titanic)

j) Suponiendo que la mayoria de edad es al cumplir 18 años, se tendria:
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked  Menor de edad
0        0         A/5 21171   7.2500   NaN        S          False
1        0          PC 17599  71.2833   C85        C          False
2        0  STON/O2. 3101282   7.9250   NaN        S          False
3        0            113803  53.1000  C123        S          False
4        0            373450   8.0500   NaN        S          False
..     ...               ...      ...   ...      ...            ...
886      0            211536  13.0000   NaN        S          False
887      0            112053  30.0000   B42        S          False
888      2        W./C. 6607  23.4500   NaN        S          False
889      0            111369  30.0000  C148        C          False
890      0            370376   7.7500   NaN        Q          False

[891 rows x 13 columns]

In [7]:
# k)
print("k)")
for clase in range(1,4):
    condicionKMenores = (titanic["Menor de edad"] == True) & (titanic["Pclass"] == clase)
    procentajeMenores = (titanic[condicionKMenores]["Survived"].sum() / 
                         titanic[condicionKMenores]["PassengerId"].count() * 100)
    
    print(f"El porcentaje de menores que sobrevivio en °{clase} clase es % {'%.2f'%(procentajeMenores)}")
    
    condicionKAdultos = (titanic["Menor de edad"] == False) & (titanic["Pclass"] == clase)
    procentajeAdultos = (titanic[condicionKAdultos]["Survived"].sum() / 
                         titanic[condicionKAdultos]["PassengerId"].count() * 100)
    
    print(f"El porcentaje de adultos que sobrevivio en °{clase} clase es % {'%.2f'%(procentajeAdultos)}", end=delimitador)

k)
El porcentaje de menores que sobrevivio en °1 clase es % 91.67
El porcentaje de adultos que sobrevivio en °1 clase es % 61.27
------------------------------------------------------------
El porcentaje de menores que sobrevivio en °2 clase es % 91.30
El porcentaje de adultos que sobrevivio en °2 clase es % 40.99
------------------------------------------------------------
El porcentaje de menores que sobrevivio en °3 clase es % 37.18
El porcentaje de adultos que sobrevivio en °3 clase es % 21.79
------------------------------------------------------------