# Modulo 3: Ejercicio 2
## Alumno: Jose Suarez

### 1. Escribir un programa que pregunte al usuario por las ventas de un rango de años y muestre por pantalla una serie con los datos de las ventas indexada por los años, antes y después de aplicarles un descuento del 10%.

In [2]:
import numpy as np
import pandas as pd

delimitador = "\n"+"-"*30 + "\n"


print("ingrese años a considerar, luego las ventas anuales y calcularemos segun el descuento")

añoInicial = int(input("Ingrese año de inicio contable: "))
añoFinal = int(input("Ingrese año de termino contable: "))

descuento = 0.1
serieVentaXAño = pd.Series()

print(f"Ingrese las ventas para los años {añoInicial} y {añoFinal}", end = delimitador)

for año in range(añoInicial, añoFinal + 1):
    venta = int(input(f"ingrese ventas del año {año}: "))
    serieVentaXAño[año] = venta
print(delimitador, end="")
print(serieVentaXAño)
print(serieVentaXAño * (1 + descuento))

ingrese años a considerar, luego las ventas anuales y calcularemos segun el descuento
Ingrese año de inicio contable: 23
Ingrese año de termino contable: 25
Ingrese las ventas para los años 23 y 25
------------------------------
ingrese ventas del año 23: 1235
ingrese ventas del año 24: 312154
ingrese ventas del año 25: 4321

------------------------------
23      1235
24    312154
25      4321
dtype: int64
23      1358.5
24    343369.4
25      4753.1
dtype: float64

### 2. Escribir una función que reciba un diccionario con las notas de los alumnos en curso en un examen y devuelva una serie con la nota mínima, la máxima, media y la desviación típica.

In [3]:
def ResumenCurso(notasCurso):
    cursoNotasDF = pd.DataFrame(notasCurso)
    resumenNotas = pd.Series()
    
    resumenNotas["minima"] = cursoNotasDF["notas"].min()
    resumenNotas["maxima"] = cursoNotasDF["notas"].max()
    resumenNotas["media"] = cursoNotasDF["notas"].mean()
    resumenNotas["DesvSTD"] = cursoNotasDF["notas"].std()
    
    return resumenNotas

notasCurso = {
    "alumno": ["1","2","3","a"] ,
    "notas": [6, 5, 3, 7]
}
print(ResumenCurso(notasCurso))

minima     3.000000
maxima     7.000000
media      5.250000
DesvSTD    1.707825
dtype: float64

### 3. Escribir una función que reciba un diccionario con las notas de los alumnos en curso en un examen y devuelva una serie con las notas de los alumnos aprobados ordenadas de mayor a menor.

In [4]:
# Considerando criterio de aprobacion nota 4 o mayor
def AprobadosCurso(notasCurso):
    cursoNotasDF = pd.DataFrame(notasCurso)
    
    
    aprobadosDF = cursoNotasDF[cursoNotasDF["notas"] >= 4].sort_values(by="notas", ascending=False)
    
    aprobadosSerie = aprobadosDF["notas"]

    return aprobadosSerie

print(AprobadosCurso(notasCurso))

3    7
0    6
1    5
Name: notas, dtype: int64

### 4. Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla siguiente:

In [6]:
tablaEj_4 = pd.DataFrame({"Mes": ["Enero", "Febrero", "Marzo", "Abril"],
                   "Ventas": [30500, 35600, 28300, 33900],
                   "Gastos": [22000, 23400, 18100, 20700]})

print(tablaEj_4)

       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23400
2    Marzo   28300   18100
3    Abril   33900   20700

### 5. Convertir un diccionario Python en un objeto Series:

In [7]:
datos_5 = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

datosSerie_5 = pd.Series(datos_5)

print(datosSerie_5)
print(type(datosSerie_5))

a    10
b    20
c    30
d    40
dtype: int64
<class 'pandas.core.series.Series'>

### 6. Obtener una columna de un objeto DataFrame como un objeto Series.

In [8]:
datos_6 = {'A': [1, 2, 3, 4, 5], 'b': [9, 8, 7, 6, 5], 'c': [2, 3, 5, 7, 11]}

datosDF_6 = pd.DataFrame(datos_6)

colA = datosDF_6["A"]

print(colA)
print(type(colA))

0    1
1    2
2    3
3    4
4    5
Name: A, dtype: int64
<class 'pandas.core.series.Series'>

### 7. Ordenar los valores de un objeto Series.

In [9]:
datos_7 = ["1.1", "Python", "0.5", "pandas", "2.8"]

datosSerie_7 = pd.Series(datos_7).sort_values()

print(datosSerie_7)

2       0.5
0       1.1
4       2.8
1    Python
3    pandas
dtype: object

### 8. Agregar datos a un objeto Series existente

Además, redefinir los índices para que estén ordenados del 0 al 6

In [10]:
datos_8 = ["python", "C#", "C++", "Java", "PHP"]
porAgregar_8 = ["JavaScript", "Perl"]

datosDF_8 = pd.Series(datos_8)
porAgregarDF_8 = pd.Series(porAgregar_8)

print(pd.concat([datosDF_8, porAgregarDF_8], ignore_index=True))

0        python
1            C#
2           C++
3          Java
4           PHP
5    JavaScript
6          Perl
dtype: object

### 9. Teniendo la siguiente serie:
[10,None, 20, None, 40, 50,60,70,None,90]

    a) Crear una serie que elimine los datos nulos

    b) Cambie los valores nulos por el promedio

    c) Eliminar el último elemento

In [11]:
delimitador = "\n"+"-"*30 + "\n"

datos_9 = [10,None, 20, None, 40, 50,60,70,None,90]
datosSerie_9 = pd.Series(datos_9)

print("a)", end="\n\n")
datosNoNull = datosSerie_9.dropna().reset_index(drop=True)
print(datosNoNull, end= delimitador)

print("b)", end="\n\n")
datosNullPromedio = datosSerie_9.fillna(value=datosSerie_9.mean())
print(datosNullPromedio, end= delimitador)

print("c)", end="\n\n")
datosNullPromedio = datosNullPromedio.drop(index = len(datosNullPromedio)-1)
print(datosNullPromedio, end= delimitador)

a)

0    10.0
1    20.0
2    40.0
3    50.0
4    60.0
5    70.0
6    90.0
dtype: float64
------------------------------
b)

0    10.000000
1    48.571429
2    20.000000
3    48.571429
4    40.000000
5    50.000000
6    60.000000
7    70.000000
8    48.571429
9    90.000000
dtype: float64
------------------------------
c)

0    10.000000
1    48.571429
2    20.000000
3    48.571429
4    40.000000
5    50.000000
6    60.000000
7    70.000000
8    48.571429
dtype: float64
------------------------------

### 10. Crear una Serie y un DataFrame:
a. Crea una Serie con nombres de frutas.
b. Crea un DataFrame con nombres de frutas y su cantidad.
Manipulación de DataFrames:
c. Agrega una columna con precios a tu DataFrame de frutas.
d. Selecciona solo las frutas con una cantidad mayor a 10.
e. Encuentra el promedio de los precios de las frutas.

In [12]:
print("a)\n")
frutas = pd.Series(["mango", "tomate", "palta", "maracuya"])
print(frutas, end= delimitador)


print("b)\n")
cantidadFrutas = pd.DataFrame(frutas, columns=["Nombre Fruta"])
cantidadFrutas["cantidad"] = [11, 5, 1, 30]
print(cantidadFrutas, end= delimitador)


print("c)\n")

cantidadFrutas["precio"] = [20, 10, 35, 20]
print(cantidadFrutas, end= delimitador)

print("d)\n")
print(cantidadFrutas[cantidadFrutas["cantidad"] > 10], end= delimitador)

print("e)\n")
print(cantidadFrutas["precio"].mean())

a)

0       mango
1      tomate
2       palta
3    maracuya
dtype: object
------------------------------
b)

  Nombre Fruta  cantidad
0        mango        11
1       tomate         5
2        palta         1
3     maracuya        30
------------------------------
c)

  Nombre Fruta  cantidad  precio
0        mango        11      20
1       tomate         5      10
2        palta         1      35
3     maracuya        30      20
------------------------------
d)

  Nombre Fruta  cantidad  precio
0        mango        11      20
3     maracuya        30      20
------------------------------
e)

21.25

### 11. Crear un DataFrame:
• Crea un DataFrame con información de ventas por día (fecha, producto, cantidad vendida, precio unitario).

Análisis y Manipulación:

    a. Calcula el total de ingresos por día (cantidad vendida * precio unitario).

    b. Encuentra el producto más vendido en términos de cantidad y el que generó mayores ingresos.

    c. Agrega una columna que indique el día de la semana.

    d. Encuentra el día de la semana con mayores ventas totales.

    e. Calcula el promedio de ventas por producto.

    f. Encuentra la fecha con mayores ingresos.

    g. Agrupa los datos por mes y encuentra el mes con mayores ingresos.

In [11]:
import datetime as dt
import pandas as pd
import numpy as np

delimitador = "\n"+"-"*30 + "\n"

data_11 = {"fecha": ["1-10-2022", "1-10-2022", "3-10-2022", "3-10-2022", "14-10-2022"],
          "producto": ["carne", "longaniza", "pana de pollo", "corazon de ganzo", "longaniza"],
          "cantidad vendida": [50, 5, 100, 3, 20],
          "precio unitario": [5000, 4500, 1000, 4500, 4300]}
dataFrame_11 = pd.DataFrame(data_11)

print("a)\n")

dataFrame_11["total Vendido"] = dataFrame_11["cantidad vendida"] * dataFrame_11["precio unitario"]
print(dataFrame_11, end= delimitador)

ventasTotalxDia = dataFrame_11.groupby("fecha").sum(["total Vendido"])
print(ventasTotalxDia, end= delimitador)

a)

        fecha          producto  cantidad vendida  precio unitario  \
0   1-10-2022             carne                50             5000
1   1-10-2022         longaniza                 5             4500
2   3-10-2022     pana de pollo               100             1000
3   3-10-2022  corazon de ganzo                 3             4500
4  14-10-2022         longaniza                20             4300

   total Vendido
0         250000
1          22500
2         100000
3          13500
4          86000
------------------------------
            cantidad vendida  precio unitario  total Vendido
fecha
1-10-2022                 55             9500         272500
14-10-2022                20             4300          86000
3-10-2022                103             5500         113500
------------------------------

In [5]:
print("b)\n")

ventasTotalxProducto = dataFrame_11.groupby("producto").sum(["total Vendido"])

maxCantidad = ventasTotalxProducto["cantidad vendida"].max()
productoMaxCantidad = ventasTotalxProducto[ventasTotalxProducto["cantidad vendida"] == maxCantidad].index[0]

print("El producto que vendio mas unidades fue", productoMaxCantidad, "con", maxCantidad, "unidades vendidas", end= delimitador)

maxVentas = ventasTotalxProducto["total Vendido"].max()
productoMaxVentas = ventasTotalxProducto[ventasTotalxProducto["total Vendido"] == maxVentas].index[0]

print("El producto que genero mas ingresos fue", productoMaxVentas, "con", maxVentas, "total vendido", end= delimitador)

b)

El producto que vendio mas unidades fue pana de pollo con 100 unidades vendidas
------------------------------
El producto que genero mas ingresos fue carne con 250000 total vendido
------------------------------

In [24]:
print("c)\n")

diasDeLaSemana = ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado", "Domingo"]
def TxtoAdatetime(fecha):
    try:
        fecha = dt.datetime.strptime(fecha ,"%d-%m-%Y")
        return fecha
    except:
        return fecha

# diasDeLaSemana[dt.datetime.weekday(fecha)]

dataFrame_11["fecha"] = dataFrame_11["fecha"].apply(TxtoAdatetime)
dataFrame_11["dia de la semana"] = dataFrame_11["fecha"].apply(dt.datetime.weekday)

transformarADia = lambda dia: diasDeLaSemana[dia]
dataFrame_11["dia de la semana"] = dataFrame_11["dia de la semana"].apply(transformarADia)

print(dataFrame_11["fecha"], end= delimitador)

print(dataFrame_11, end = delimitador)

c)

0   2022-10-01
1   2022-10-01
2   2022-10-03
3   2022-10-03
4   2022-10-14
Name: fecha, dtype: datetime64[ns]
------------------------------
       fecha          producto  cantidad vendida  precio unitario  \
0 2022-10-01             carne                50             5000
1 2022-10-01         longaniza                 5             4500
2 2022-10-03     pana de pollo               100             1000
3 2022-10-03  corazon de ganzo                 3             4500
4 2022-10-14         longaniza                20             4300

   total Vendido dia de la semana
0         250000           Sabado
1          22500           Sabado
2         100000            Lunes
3          13500            Lunes
4          86000          Viernes
------------------------------

In [25]:
print("d)\n")

maxVentasxDiaSemana = dataFrame_11["total Vendido"].max()
diaSemanaMaxVentas = dataFrame_11[dataFrame_11["total Vendido"] == maxVentas]

print("El dia de la semana que se genero mas ingresos fue", diaSemanaMaxVentas.loc[0, "dia de la semana"], 
      diaSemanaMaxVentas.loc[0, "fecha"] ,"con", maxVentasxDiaSemana, "total vendido", end= delimitador)

d)

El dia de la semana que se genero mas ingresos fue Sabado 2022-10-01 00:00:00 con 250000 total vendido
------------------------------

In [26]:
print("e) La tabla de promedio segun cantidad vendida: \n")

promedioVentasProducto = dataFrame_11[["producto", "cantidad vendida"]].groupby("producto").mean(["cantidad vendida"])
print(promedioVentasProducto, end= delimitador)

e) La tabla de promedio segun cantidad vendida:

                  cantidad vendida
producto
carne                         50.0
corazon de ganzo               3.0
longaniza                     12.5
pana de pollo                100.0
------------------------------

In [27]:
print("f)\n")

maxVentasxFecha = ventasTotalxDia["total Vendido"].max()
fechaMaxVentas = ventasTotalxDia[ventasTotalxDia["total Vendido"] == maxVentasxFecha].index[0]

print("la fecha en que se genero mas ingresos fue", fechaMaxVentas, "con", maxVentasxFecha, "total vendido", end=delimitador)

f)

la fecha en que se genero mas ingresos fue 1-10-2022 con 272500 total vendido
------------------------------

In [42]:
print("g)\n")

dataFrame_11["mes"] = dataFrame_11["fecha"].dt.month

ventasTotalxMes = dataFrame_11.groupby("mes").sum(["total Vendido"])

maxVentasxMes = ventasTotalxMes["total Vendido"].max()
mesMaxVentas = ventasTotalxMes[ventasTotalxMes["total Vendido"] == maxVentasxMes].index[0]

print("el mes en que se genero mas ingresos fue el mes", mesMaxVentas, "con", maxVentasxMes, "total vendido", end=delimitador)

g)

el mes en que se genero mas ingresos fue el mes 10 con 472000 total vendido
------------------------------