# Modulo 3: Ejercicio 3
## Alumno: Jose Suarez

### 1. En esta oportunidad vamos a utilizar los datos que ocupamos en el módulo 1, nuestros datos de compra en supermercado.
    a. Junto a este archivo, se encuentran los archivos csv para clientes, productos, boletas y detalle. Cargue, los datos de los archivos en sus respectivas variables.
    
    b. Ahora que tenemos los datos, podemos trabajar con ellos. Lo primero que haremos será calcular las edades. Para esto, agregue una nueva columna a los datos de los clientes, que calcule la edad a partir de su fecha de nacimiento.
    
    c. Calcular el promedio de edad.
    
    d. ¿Cuál es el cliente con la edad mayor?
    
    e. ¿Cuál es el menor?
    
    f. Buscar cuantas boletas tiene cada cliente, fusionar clientes con boletas a través del rut.
    
    g. Ahora, queremos hacer algo parecido con los productos. Calcular cuánto se ha vendido (en dinero) de cada producto.
    
    h. Agregar los productos que nunca se han vendido con un 0.

In [156]:
import pandas as pd
import numpy as np
from datetime import  datetime, date

delimitador = "\n" + "-" * 60 + "\n"

# a) Cargar archivos:
#  encoding= "latin-1"

clientes = pd.read_csv("clientes.csv", encoding='latin-1')
productos = pd.read_csv("productos.csv", encoding='latin-1')
boletas = pd.read_csv("boletas.csv", encoding='latin-1')
detalle = pd.read_csv("detalle.csv", encoding='latin-1')

print(clientes, end= delimitador)
print(productos, end= delimitador)
print(boletas, end= delimitador)
print(detalle, end= delimitador)

           rut             nombre                direccion        comuna  \
0   11223344-4      Tomás Ramírez                      NaN         Arica
1   11223344-5        Laura Rojas        Calle Virtual 567   Antofagasta
2   12345678-9         Juan Perez          Calle Falsa 123      Santiago
3   23456789-1    Pedro Rodríguez                      NaN    Valparaíso
4   33445566-5      Camila Torres    Calle Cibernética 456           NaN
5   33445566-7         Mateo Diaz                      NaN  Viña del Mar
6   34567890-2     Carla González      Calle Inventada 789           NaN
7   45678901-3     Diego Martínez       Avenida Irreal 987     La Serena
8   55667788-6      Matias Castro   Avenida Innovación 321           NaN
9   55667788-9  Valentina Herrera  Avenida Tecnológica 123           NaN
10  56789012-4          Ana Lopez                      NaN           NaN
11  67890123-5    Luisa Fernández       Calle Ficticia 321      Rancagua
12  77889900-1       Martin Gómez                      NaN       Iquique
13  77889900-7      Renata Flores                      NaN       Copiapó
14  78901234-6      Javier Torres   Avenida de Ensueño 654        Temuco
15  87654321-0      Maria Sánchez   Avenida Imaginaria 456    Concepción
16  89012345-7      Marta Ramírez         Calle Soñada 210           NaN
17  90123456-8       Daniel Silva                      NaN  Puerto Montt
18  99001122-3        Sofía Pérez        Calle Digital 789           NaN
19  99001122-8       Nicolás Ruiz   Calle Programación 210           NaN

   fecha_nacimiento     telefono                  email
0        1994-12-31          NaN      tomas@example.com
1        1998-07-12  945678321.0      laura@example.com
2        2000-05-15  912345678.0       juan@example.com
3        1988-03-10  912345678.0      pedro@example.com
4        1993-02-14  977894512.0     camila@example.com
5        2002-02-28  967894512.0      mateo@example.com
6        1999-12-05  934567890.0      carla@example.com
7               NaN          NaN      diego@example.com
8        1992-06-08  923478965.0                    NaN
9        1997-04-05  923478965.0  valentina@example.com
10       1990-08-18  978901234.0        ana@example.com
11       2005-04-25          NaN      luisa@example.com
12       1996-10-17  955678902.0     martin@example.com
13              NaN          NaN     renata@example.com
14       1985-11-30  923456789.0                    NaN
15       1995-10-20  987654321.0      maria@example.com
16              NaN          NaN                    NaN
17              NaN          NaN                    NaN
18       2001-09-22  912345672.0      sofia@example.com
19       2003-11-03  955678902.0    nicolas@example.com
------------------------------------------------------------
    codigo            nombre  precio
0      101             Arroz    1500
1      102            Fideos    1200
2      103  Aceite de cocina   18000
3      104            Harina    2000
4      105             Leche    3000
5      106            Azúcar    2500
6      107              Café    5000
7      108               Pan    1500
8      109          Galletas    3500
9      110       Mantequilla    2800
10     111             Queso    6000
11     112             Yogur    2000
12     113      Agua mineral    1200
13     114             Jugos    4000
14     115    Frutas frescas    7000
15     116          Verduras    5500
16     117    Carne de pollo    4800
17     118      Carne de res   10000
18     119           Pescado    9000
19     120            Helado    2500
------------------------------------------------------------
    numero       fecha rut_cliente
0        1  2023-11-05  12345678-9
1        2  2023-11-07  87654321-0
2        3  2023-11-09  23456789-1
3        4  2023-11-12  34567890-2
4        5  2023-11-15  45678901-3
5        6  2023-11-18  56789012-4
6        7  2023-11-21  67890123-5
7        8  2023-11-24  78901234-6
8        9  2023-11-27  89012345-7
9       10  2023-11-29  90123456-8
10      11  2023-11-02  11223344-5
11      12  2023-11-04  33445566-7
12      13  2023-11-06  55667788-9
13      14  2023-11-08  77889900-1
14      15  2023-11-11  99001122-3
15      16  2023-11-14  11223344-5
16      17  2023-11-17  33445566-7
17      18  2023-11-20  55667788-9
18      19  2023-11-23  77889900-1
19      20  2023-11-26  99001122-3
20      21  2023-11-02  11223344-5
21      22  2023-11-14  11223344-5
22      23  2023-11-05  12345678-9
23      24  2023-11-09  23456789-1
------------------------------------------------------------
    numero_boleta  codigo_producto  cantidad
0               1              101         3
1               1              103         6
2               1              106         2
3               2              102         5
4               2              104         1
5               3              107         8
6               3              110         4
7               4              112         7
8               5              113         3
9               6              115         2
10              7              116         5
11              7              119         9
12              8              120         4
13              9              101         6
14              9              104         2
15             10              105         1
16             10              106         3
17             11              107         4
18             11              109         7
19             12              111         5
20             13              112         8
21             14              113         3
22             14              116         1
23             15              117         6
24             16              119         4
25             17              120         2
26             18              101         9
27             18              102         2
28             18              103         5
29             19              104         3
30             19              106         7
31             20              107         1
32             21              120         4
33             21              102         5
34             22              104         1
35             23              101         6
36             23              104         2
37             23              105         1
38             24              116        10
39             24              119        20
------------------------------------------------------------

In [157]:
# b) Calcular edades

def CalculadorEdad(Nacimiento):
    try:
        Nacimiento = datetime.strptime(Nacimiento, '%Y-%m-%d').date()
        hoy = date.today()
        return hoy.year - Nacimiento.year - ((hoy.month, hoy.day) < (Nacimiento.month, Nacimiento.day))
    except:
        return np.NaN
    
clientes["edad"] = clientes["fecha_nacimiento"].apply(CalculadorEdad)

print(clientes)

           rut             nombre                direccion        comuna  \
0   11223344-4      Tomás Ramírez                      NaN         Arica
1   11223344-5        Laura Rojas        Calle Virtual 567   Antofagasta
2   12345678-9         Juan Perez          Calle Falsa 123      Santiago
3   23456789-1    Pedro Rodríguez                      NaN    Valparaíso
4   33445566-5      Camila Torres    Calle Cibernética 456           NaN
5   33445566-7         Mateo Diaz                      NaN  Viña del Mar
6   34567890-2     Carla González      Calle Inventada 789           NaN
7   45678901-3     Diego Martínez       Avenida Irreal 987     La Serena
8   55667788-6      Matias Castro   Avenida Innovación 321           NaN
9   55667788-9  Valentina Herrera  Avenida Tecnológica 123           NaN
10  56789012-4          Ana Lopez                      NaN           NaN
11  67890123-5    Luisa Fernández       Calle Ficticia 321      Rancagua
12  77889900-1       Martin Gómez                      NaN       Iquique
13  77889900-7      Renata Flores                      NaN       Copiapó
14  78901234-6      Javier Torres   Avenida de Ensueño 654        Temuco
15  87654321-0      Maria Sánchez   Avenida Imaginaria 456    Concepción
16  89012345-7      Marta Ramírez         Calle Soñada 210           NaN
17  90123456-8       Daniel Silva                      NaN  Puerto Montt
18  99001122-3        Sofía Pérez        Calle Digital 789           NaN
19  99001122-8       Nicolás Ruiz   Calle Programación 210           NaN

   fecha_nacimiento     telefono                  email  edad
0        1994-12-31          NaN      tomas@example.com  29.0
1        1998-07-12  945678321.0      laura@example.com  25.0
2        2000-05-15  912345678.0       juan@example.com  23.0
3        1988-03-10  912345678.0      pedro@example.com  35.0
4        1993-02-14  977894512.0     camila@example.com  30.0
5        2002-02-28  967894512.0      mateo@example.com  21.0
6        1999-12-05  934567890.0      carla@example.com  24.0
7               NaN          NaN      diego@example.com   NaN
8        1992-06-08  923478965.0                    NaN  31.0
9        1997-04-05  923478965.0  valentina@example.com  26.0
10       1990-08-18  978901234.0        ana@example.com  33.0
11       2005-04-25          NaN      luisa@example.com  18.0
12       1996-10-17  955678902.0     martin@example.com  27.0
13              NaN          NaN     renata@example.com   NaN
14       1985-11-30  923456789.0                    NaN  38.0
15       1995-10-20  987654321.0      maria@example.com  28.0
16              NaN          NaN                    NaN   NaN
17              NaN          NaN                    NaN   NaN
18       2001-09-22  912345672.0      sofia@example.com  22.0
19       2003-11-03  955678902.0    nicolas@example.com  20.0

In [158]:
# c)  promedio de edad.
promedioEdad = clientes["edad"].mean()
print(f"c) El promedio de la edad es: {promedioEdad}")

# d) ¿Cuál es el cliente con la edad mayor?

maximaEdad = clientes["edad"].max()
clienteMaxEdad = clientes[clientes["edad"] == maximaEdad].iloc[0,1]
print(f"d) El cliente de mayor edad es {clienteMaxEdad} con {maximaEdad}")

#     e. ¿Cuál es el menor?

minimaEdad = clientes["edad"].min()
clienteMinEdad = clientes[clientes["edad"] == minimaEdad].iloc[0,1]
print(f"e) El cliente de menor edad es {clienteMinEdad} con {minimaEdad}")

c) El promedio de la edad es: 26.875
d) El cliente de mayor edad es Javier Torres con 38.0
e) El cliente de menor edad es Luisa Fernández con 18.0

In [159]:
#  f) Buscar cuantas boletas tiene cada cliente, fusionar clientes con boletas a través del rut.

boletasxClientes = boletas["rut_cliente"].value_counts()
print(pd.merge(clientes[["rut","nombre"]],boletasxClientes, right_index = True, left_on = "rut"))

           rut             nombre  count
1   11223344-5        Laura Rojas      4
2   12345678-9         Juan Perez      2
3   23456789-1    Pedro Rodríguez      2
5   33445566-7         Mateo Diaz      2
6   34567890-2     Carla González      1
7   45678901-3     Diego Martínez      1
9   55667788-9  Valentina Herrera      2
10  56789012-4          Ana Lopez      1
11  67890123-5    Luisa Fernández      1
12  77889900-1       Martin Gómez      2
14  78901234-6      Javier Torres      1
15  87654321-0      Maria Sánchez      1
16  89012345-7      Marta Ramírez      1
17  90123456-8       Daniel Silva      1
18  99001122-3        Sofía Pérez      2

In [162]:
# g) Ahora, queremos hacer algo parecido con los productos. Calcular cuánto se ha vendido (en dinero) de cada producto.


totalProductosVendidos = detalle.groupby("codigo_producto").sum("cantidad")["cantidad"]
totalProductosVendidos = pd.merge(productos[["codigo","nombre","precio"]],totalProductosVendidos, right_index = True, left_on = "codigo").reset_index( drop = True)
totalProductosVendidos["total ventas"] = totalProductosVendidos["precio"] * totalProductosVendidos["cantidad"]

print(totalProductosVendidos[["nombre","total ventas"]], end = delimitador)

              nombre  total ventas
0              Arroz         36000
1             Fideos         14400
2   Aceite de cocina        198000
3             Harina         18000
4              Leche          6000
5             Azúcar         30000
6               Café         65000
7           Galletas         24500
8        Mantequilla         11200
9              Queso         30000
10             Yogur         30000
11      Agua mineral          7200
12    Frutas frescas         14000
13          Verduras         88000
14    Carne de pollo         28800
15           Pescado        297000
16            Helado         25000
------------------------------------------------------------

In [163]:
# h. Agregar los productos que nunca se han vendido con un 0.

totalProductosVendidos = pd.concat([totalProductosVendidos, productos]).drop_duplicates(subset="codigo").fillna(0).reset_index( drop = True)

print(totalProductosVendidos)

    codigo            nombre  precio  cantidad  total ventas
0      101             Arroz    1500      24.0       36000.0
1      102            Fideos    1200      12.0       14400.0
2      103  Aceite de cocina   18000      11.0      198000.0
3      104            Harina    2000       9.0       18000.0
4      105             Leche    3000       2.0        6000.0
5      106            Azúcar    2500      12.0       30000.0
6      107              Café    5000      13.0       65000.0
7      109          Galletas    3500       7.0       24500.0
8      110       Mantequilla    2800       4.0       11200.0
9      111             Queso    6000       5.0       30000.0
10     112             Yogur    2000      15.0       30000.0
11     113      Agua mineral    1200       6.0        7200.0
12     115    Frutas frescas    7000       2.0       14000.0
13     116          Verduras    5500      16.0       88000.0
14     117    Carne de pollo    4800       6.0       28800.0
15     119           Pescado    9000      33.0      297000.0
16     120            Helado    2500      10.0       25000.0
17     108               Pan    1500       0.0           0.0
18     114             Jugos    4000       0.0           0.0
19     118      Carne de res   10000       0.0           0.0

### 2. Crear un programa que sea capaz de leer el archivo “M3E3 – videojuegos.csv” (adjunto), luego sacar el promedio de los precios y el promedio de la calificación.

In [94]:
import pandas as pd
import numpy as np

videojuegos = pd.read_csv("videojuegos.csv", encoding='latin-1')

print("El promedio de los precios es", videojuegos["Precio"].mean())
print("El promedio de las Calificaciones es", videojuegos["Calificacion"].mean())

El promedio de los precios es 788.695
El promedio de las Calificaciones es 94.83333333333333

### 3. Se tiene el archivo M3E3 – videojuegos2.csv” (adjunto) con información sobre todo el contenido de su biblioteca de videojuegos.
Note que un juego aparecerá listado en el archivo una vez por cada consola en la que fue lanzado.
La categoría del juego se especifica siempre en el primer Tag. Por ejemplo, Double Dragon pertenece a la categoría Beat-‘em up.

Desarrolle lo siguiente:

    a) La función juegosConsolas(nomArchivo, categoria, decada) que recibe el nombre del archivo con la información de los videojuegos, una categoría y número de cuatro dígitos representando una década de años. La función retoma una tupla con 2 elementos. El primer elemento es la lista con los valores únicos de todos los juegos de esa década para esa categoría. El segundo elemento es la lista con valores únicos de todas las consolas que tienen juegos para esa década y categoría.
    Por ejemplo, para llamar a juegosConsolas('videojuegos.csv','RPG',1980) retorna:

(['The legend of Zelda', 'Phantasy Star', ...], ['NES', 'Famicon Disk System', ...])

    b) La función crearMatriz(nomArchivo, categoria, decada) que recibe el nombre del archivo con la información de los videojuegos, el nombre de una categoría de videojuegos y un número de cuatro dígitos representando una década de años. La función deberá leer el archivo y retornar una matriz donde las filas representan los juegos de categoria para la decada , las columnas representan las consolas que tienen juegos de categoria para la decada y las celdas son las calificaciones de cada juego para cada consola. Si un juego no existe para una consola, su calificación deberá ser cero (0).

    c) La función mejoresJuegos(nomArchivo, categoria, decada) que recibe el nombre del archivo con la información de los videojuegos, el nombre de una categoría de videojuegos y un número de cuatro dígitos representando una década de años. La función deberá generar el archivo “Mejores.txt” con los cinco mejores juegos de la decada para la categoria , ordenados de mayor a menor por su calificación promedio. Para calcular el promedio de un juego, considere únicamente las consolas en las que fue lanzado (no considere los valores cero). El archivo tendrá la siguiente estructura:

NombreNombre,Promedio_calificación

    d) La función colecciones(nomArchivo, palabras) que recibe el nombre del archivo con la información de los videojuegos y una lista de palabras. La función deberá retornar otra lista de valores únicos con los nombres de todos los juegos que sus Tags contengan todos los términos de la lista palabras.

In [68]:
import pandas as pd
import numpy as np

videojuegos3 = pd.read_csv("videojuegos3.csv", encoding='latin-1', sep= '\,', engine='python')

videojuegos3[["Año","Consola"]] = videojuegos3["Año;Consola"].str.split(";", expand=True)

videojuegos3["Nombre"] = videojuegos3["\"Nombre"].str.replace("\"","")
videojuegos3["Protagonista"] = videojuegos3["Protagonista\""].str.replace("\"","")

videojuegos3.drop(["\"Nombre", "Protagonista\"", "Año;Consola"], axis = 1, inplace = True)

videojuegos3 = videojuegos3.reindex(["Nombre","Año", "Consola", "Calificacion", "Tag", "Protagonista"], axis=1)
videojuegos3["Año"] = videojuegos3["Año"].apply(int)

formateoAño = lambda año : 1900 + año if año > 50  else 2000 + año

videojuegos3["Año"] = videojuegos3["Año"].apply(formateoAño)
print(videojuegos3)

                Nombre   Año        Consola  Calificacion          Tag  \
0  The Legend of Zelda  1986        Famicom           3.5          RPG
1        Double Dragon  1987         Arcade           3.7  Beat-'em up
2  The Legend of Zelda  1988            NES           4.3          RPG
3    Halo 5: Guardians  2015       Xbox One           4.0          FPS
4          Curse of Ra  1982  Commodore PET           3.0          RPG
5        Battlefield 1  2016       Xbox One           4.8          FPS

      Protagonista
0             Link
1            Billy
2             Link
3      Agent Locke
4               Ra
5  Clyde Blackburn

In [71]:
# A) retornar tupla ([nombres], [consolas])
def JuegosConsolas(nomArchivo, categoria, decada):
    
    criterio = ((nomArchivo["Año"] > decada) & 
                (nomArchivo["Año"]< decada + 10) & 
                (nomArchivo["Tag"] == categoria))
    
    listaDeTitulos = nomArchivo[criterio]["Nombre"].unique().tolist()
    listaDeConsolas = nomArchivo[criterio]["Consola"].unique().tolist()
    
    return (listaDeTitulos, listaDeConsolas)
    
    
print(JuegosConsolas(videojuegos3, "FPS", 1980))

([], [])

In [77]:
# B) retornar matriz  filas == titulo(segun decada) columnas == consolas(segun categoria)  celdas = puntuacion (2dmatrix)
def CrearMatrizPuntaje(nomArchivo, categoria, decada):
    tuplaEjes = JuegosConsolas(nomArchivo, categoria, decada)
    
    matrizPuntajes = np.zeros((len(tuplaEjes[0]),len(tuplaEjes[1])))
    
    iteracionFilas = 0
    iteracionColumnas = 0
        
    for nombre in tuplaEjes[0]:
        for consola in tuplaEjes[1]:
            criterio = ((nomArchivo["Nombre"] == nombre) & 
                        (nomArchivo["Consola"] == consola))
            
            if nomArchivo[criterio].empty:
                puntaje = 0
                
            else:
                puntaje = nomArchivo[criterio].reset_index().loc[0,"Calificacion"]
                matrizPuntajes[iteracionFilas][iteracionColumnas] = puntaje
            
            iteracionColumnas += 1
        iteracionFilas += 1
        iteracionColumnas = 0
        
    return matrizPuntajes
    
    
print(CrearMatrizPuntaje(videojuegos3, "RPG", 1980))

[[3.5 4.3 0. ]
 [0.  0.  3. ]]

In [97]:
# C) generar archivo mejores.txt con 5 mejores juegos
def MejoresJuegos(nomArchivo, categoria, decada):
    tuplaEjes = JuegosConsolas(nomArchivo, categoria, decada)

    matrizPuntaje = CrearMatrizPuntaje(nomArchivo, categoria, decada)    
    matrizPuntaje[matrizPuntaje == 0] = np.nan
    promedios = np.nanmean(matrizPuntaje, axis=1)

    promediosDF = pd.DataFrame({"NombreNombre": tuplaEjes[0],
                                "Promedio_calificacion": promedios})
    
    promediosDF.sort_values(by="Promedio_calificacion", 
                            ascending=False, inplace=True)
    promediosDF.to_csv('Mejores.txt', sep=',', index=False)
    
MejoresJuegos(videojuegos3, "RPG", 1980)

In [102]:
# d) Palabras == [lista de palagras en las que debe estar almenos 1 tag], 
# retorna una [nombres de juegos que coincidan con todas las tag de palagras]
def colecciones(nomArchivo, palabras):
    
    for palabra in palabras:
        criterio = nomArchivo["Tag"] == palabra
        nomArchivo = nomArchivo[criterio]
    
    listaNombres = nomArchivo["Nombre"].tolist()
    
    return listaNombres
    
    
print(colecciones(videojuegos3, ["RPG"]))

['The Legend of Zelda', 'The Legend of Zelda', 'Curse of Ra']